<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container px-3">
            <a class="navbar-brand text-dark font-weight-bold disabled" href="/Tours"><span class="text-danger">ZT</span> TRAVELING</a>
            <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
               aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars text-dark"></span>
            </a>
        </div>
    </nav>

    <div class="container body-content wrapper">
        @RenderBody()
    </div>
    <hr class="mt-0" />
    <footer class="container px-sm-0">
        <div class="col-12 col-md-4 d-inline-block px-0 px-md-3 text-center text-md-left">
            <p class="navbar-brand font-weight-bold"><span class="text-danger">ZT</span> TRAVELING</p>
        </div>
        <div class="col-12 col-md-4 text-center d-inline-block">@DateTime.Now.Year - &copy; ZT Traveling</div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
